html {
    height: 100%;
    background-color: black;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#user_interaction_capture_around_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#bevy_pixels_web_game_poc__canvas {
    /* Crucial for the game to adjust rendered game size to available viewport area: */
    width: 100% !important;
    height: 100% !important;
}

/* Fix for iOS to not select canvas on a long press.
   Based on: https://forum.babylonjs.com/t/prevent-unwanted-inputs-in-ios-safari-hold-click-selects-canvas/21409/4
*/
html, body {
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

#bevy_pixels_web_game_poc__canvas {
    touch-action: none;
}