html {
    height: 100%;
    background-color: darkslateblue;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#start {
    margin: 2rem;
}

#overlay_for_grabbing_initial_user_interaction {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}